body {
  background-color: black;
}

.container {
  height: 110vh;
  margin: 10px;
  display: grid;
  grid-gap: 10px 10px;
  
  grid-template-columns: 1fr 1fr;
}

.cell {
  height: 300px;
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
}

.cell-top {
  position: sticky;
  top: 0;
  height: 10px;
  background: blue;
  grid-row: 1/2; 
  grid-column: 1/4;
  
  
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.cell-1 {
  background: deepskyblue;
  grid-row: 2/3; 
  grid-column: 1/3; 
}
.cell-2 {

  background-color: white;
  grid-row: 2/3; 
  grid-column: 3/4;
  content:url(V1yuncwQ.png);
}
.cell-3 {
  padding: 0px;
  max-width: auto;
  grid-row: 3/4; 
  grid-column: 1/2; 
  content:url(0049.jpg);
}
.cell-4 {
  background: gold;
  grid-row: 3/4; 
  grid-column: 2/4; 
}
.cell-5 {
  background: blueviolet;
  height: 1000px;
  grid-row: 4/8; 
  grid-column: 1/4
}
.cell-6 {
  height: 50px;
  background: blue;
  grid-row: 8/9; 
  grid-column: 1/4;
}

.cell-15 {
    padding: 0rem;
    background-color: #ccc;
    text-align: center;
    color: white;
    grid-row: 1;
    grid-column: 1 / 3;
}

.cell-16 {
    padding: 0rem;
    background-color: #ccc;
    text-align: center;
    color: white;
    grid-row: 1;
    grid-column: 3 / 4;
}
